dlib==19.16
Click==7.0

Flask==1.0.2

itsdangerous==0.24

Jinja2==2.10

MarkupSafe==1.0

numpy==1.14.4

opencv-python==3.4.1.15

scikit-learn==0.19.1

scipy==1.1.0

Werkzeug==0.14.1

certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
gunicorn==0.19.9
requests==0.11.1